.card {
	width: calc(25% - 12px);
	height: 172px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 12px 24px;
	border-radius: 12px;
	border: 2px solid var(--accent-8);
}
