.page {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin: 48px 24px;
}

.aside {
	padding: 16px 24px;
	border-radius: 12px;
	box-shadow: 0 0 16px #00000035;
	position: fixed;
	top: 24px;
	right: 24px;
	background: var(--gray-1);
}
